@media (max-width: 992px) {
  header {
    width: 100%;
  }
  .title-1 {
    display: flex;
    border-left: none;
  }
  .title-2 {
    display: flex;
  }
  .cli {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  header {
    width: 100%;
  }
  .r-1 {
    display: none;
  }
  .m-l {
    margin-left: auto;
  }
  .m-r {
    margin-right: auto;
  }
  .m-b {
    margin-bottom: 50px;
  }
  .main-2 {
    margin-top: 180px;
  }

  .menu-wrapper {
    display: flex;
    width: 90%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    align-items: center;
  }
  .menu-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .menu-ul li {
    display: flex;
    flex-grow: 1;
  }
  .main-3 {
    width: 100%;
    margin-left: 75px;
  }
  .white {
    height: 265vh;
  }
}

@media (max-width: 576px) {
  header {
    width: 100%;
  }
  .d-info {
    display: flex;
  }
  .m-l {
    margin-left: auto;
  }
  .m-r {
    margin-right: auto;
  }
  .m-b {
    margin-bottom: 35px;
  }
  .m-b-2 {
    margin-bottom: 20px;
  }
  .person-img {
    margin-left: 0;
  }
  .header-social {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    padding-left: 0;
    margin-left: 0;
  }
  .header-title {
    padding-left: 0;
  }
  .info-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .main-2 {
    margin-top: 350px;
  }
  .menu-wrapper {
    margin-left: -15px;
  }
  .line {
    width: 100%;
  }
  .line {
    padding-left: 275px;
  }
  .main-3 {
    text-align: center;
    margin-left: 35px;
  }
  .m-b-4 {
    margin-bottom: 25px;
  }
  .comment {
    display: flex;
    flex-direction: column;
  }
  .info-person-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .client-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
  }
  .white {
    height: 500px;
  }
}
@media (max-width: 425px) {
  .line {
    padding-left: 0;
  }
  .white {
    height: 100%;
  }
}
@media (max-width: 375px) {
  .white {
    height: 100%;
  }
  .client-ul {
    margin-left: 8px;
  }
}
