html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #f5f6f8;
}
header {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 50vh;
  position: relative;
}
* {
  z-index: 800;
}
li {
  list-style: none;
}
/* ==================header==================== */

.main {
  justify-content: center;
}
header {
  width: 100%;
}
.header-wrapper {
  background-color: #fff;
  border-radius: 25px;
  width: 90%;
  top: 40vh;
  flex-wrap: wrap;
  position: absolute;
}
.person-img {
  width: 120px;
  height: 120px;
  border-radius: 25px;
  border: 3px solid #fdd06b;
  top: -25px;
  position: absolute;
  margin-left: 20px;
}
.info {
  margin-left: 170px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.header-info {
  color: #989ba0;
}
.social {
  color: #989ba0;
}
.fab {
  margin: 8px;
}
.title {
  color: #989ba0;
  text-transform: uppercase;
  margin: 0;
}
.description {
  color: #989ba0;
}

.title-1 {
  margin-top: 35px;
}
.r-1 {
  background-color: #f5f6f8;
  height: 150px;
  width: 1px;
  margin: 30px 20px 10px 0;
}

/* ==================menu==================== */
.menu {
  background-color: #fff;
  border-radius: 25px;
  margin-left: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-2 {
  margin-top: 180px;
}

.item-menu {
  padding: 25px 15px;
  background-color: #f5f6f8;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 30px 20px 0;
  list-style: none;
}
.item-menu i {
  font-size: 25px;
}
.item-menu:hover {
  background-color: #315bfa;
  box-shadow: inset -10px -10px 10px -5px #1e34a5;
  color: #fff;
}
/* ==================main=================== */
.main-3 {
  background-color: #fff;
  border-radius: 25px;
  margin-right: 65px;
  padding: 30px 35px;
  z-index: 800;
}
.main-3 p {
  color: #989ba0;
}
.line {
  background-image: linear-gradient(to right, orange 25%, blue 75%);
  width: 60px;
  height: 4px;
  border-radius: 100px;
  margin: 18px 0;
}
.do {
  margin-bottom: 20px;
}
.service-1 {
  border: 3px solid #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 25px;
  padding: 30px;
}
.service-1 i {
  font-size: 50px;
  color: #4f82db;
}
.row-2 {
  margin-top: 30px;
  margin-bottom: 40px;
}

/* ---------------------comment---------------- */

.comment {
  padding: 25px 0;
  background: #eff1f5;
  border-radius: 20px;
}
.title-person-1 {
  padding-top: 20px;
}

/* -----------------------photo------------------- */
.clip-block {
  display: table-cell;
  vertical-align: middle;
}

.clip-caption {
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.clip-each {
  display: block;
  position: relative;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(55% 10%, 85% 30%, 85% 70%, 55% 85%, 20% 70%, 20% 30%);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin: 0 auto;
  background-image: url("../images/person-1.jpg") !important;
  background-position: center !important;
  background-size: 80% !important;
  background-repeat: no-repeat !important;
}

.clip-gradient {
  background: #222;
  width: 110px;
  height: 110px;
}
.clip-gradient .clip-caption {
  color: #fff;
}

.clip-caption {
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
/* -----------------------photo------------------- */
/* -----------------------client------------------- */
.client-text {
  margin-top: 50px;
}
.client-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 0;
}
.client-ul li {
  width: 25%;
  height: 50px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}
.clients img {
  width: 180px;
}

.white {
  width: 100%;
  background-color: #fff;
  position: absolute;
  height: 1000px;
  top: 840px;
  z-index: 0 !important;
}
